.menuContainer{
    margin: 1rem 0 1rem 1rem;
    width: 20rem;
    background-color: white;
}

.menu{
    width: 20rem !important;
    /* border: 1px solid red !important; */
    border-radius: 0;
    border: none !important;
}

.selectButton{
    margin: 0.5rem 0 0 1rem;
    /* color: #ffffff;
    background: #3B82F6;*/
}

.switch{
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch_span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
